.menuItem {
  text-align: left;
  cursor: pointer;
  
  h4 {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 25px 10px;
    border-bottom: 1px solid #d0dad2;
  }
}
